<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Checkout</h1>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<div class="row mb-5">
    <div class="col-md-6 mx-auto d-block">
      <h2 class="h3 mb-3 text-black mt-5">Your Order</h2>
      <div class="p-3 p-lg-5 border bg-white">
        <table class="table site-block-order-table mb-5">
          <thead>
            <th>Product</th>
            <th>Total</th>
          </thead>
          <tbody>
            <tr>
              <td>Top Up T-Shirt <strong class="mx-2">x</strong> 1</td>
              <td>Php250.00</td>
            </tr>
            <tr>
              <td>Polo Shirt <strong class="mx-2">x</strong>   1</td>
              <td>Php100.00</td>
            </tr>
            <tr>
              <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
              <td class="text-black">Php350.00</td>
            </tr>
            <tr>
              <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
              <td class="text-black font-weight-bold"><strong>Php650.00</strong></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='thankyou'">Place Order</button>
        </div>

      </div>
    </div>
  </div>

</div>
